<style type="text/css">
	.frame {border: 2px solid rgb(202, 202, 202); float: left; margin-left: 15px; margin-bottom: 20px; border-radius: 2px;}
	.img {margin: 10px; height: 350px;}
	.titel {background-color: rgb(225, 225, 225); border-bottom: 2px solid rgb(202, 202, 202); padding-bottom: 5px; padding-top: 5px; padding-left: 5px;}
	.preis {border-top:2px solid rgb(202, 202, 202); padding-bottom: 5px; padding-top: 5px; background-color: rgb(112, 219, 100); padding-left: 5px;}
	.preisrechts {float: right; margin-right: 15px;}
</style>

<% @shirts.each do |shirt| %>
	<div class="frame span4">
			<div class="titel">
				<b><%= shirt.name %></b>
			</div>
			<div class="img">
				<img src="<%= shirt.filename%>" alt="shirt img">
			</div>
			<div class="preis">
				<b>This item can be purchased <span class="preisrechts"><%= shirt.preis %>$</span></b>
			</div>
			<% if @login %>
				<div>
					<a href="/freischalten/true/<%= shirt.id %>" class="btn btn-success">OK</a>
					<a href="/freischalten/false/<%= shirt.id %>" class="btn btn-danger">Ignore</a>
				</div>
			<% end %>
	 </div>
 <% end %>